body {
  font-family: IRANSans;
  /* background-image: url(/img/header.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
}

.iconButton {
  background-color: #ff0063;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
}
/* nav,
.btn {
  font-size: 20px;
} */
.card {
  box-shadow: 1px 1px 9px rgb(167 167 167);
  width: 18rem;
}

.card img {
  width: 100%;
  height: 50%;
}
.card:hover {
  box-shadow: 1px 1px 10px rgb(214, 26, 26);
}
.Card-btn-p {
  background: rgb(214, 26, 26);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}

.Card-btn-p:hover {
  background: rgb(255, 215, 0);
  color: black;
  border: 1px solid black;
  font-size: 22px;
  transition: background-color 0.5s, font-siize 0.5s;
}

.star-btn {
  color: rgb(255, 215, 0);
  /* color: rgb(114, 114, 114); */
}
.star-btn-none {
  color: rgb(114, 114, 114);
}
.uuu {
  display: none;
}

.iconButton:hover {
  display: flex;
  padding-top: 20px;
  width: 20%;
  text-align: center;
  align-items: center;
  transition: width 0.8s;
}
.iconButton:hover .uuu {
  display: inline-flex;
  color: rgb(255, 255, 255);
}

.card-head {
  font-size: 20px;
  margin: 10%;
  display: flex;
  gap: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-text {
  text-align: center;
}
.footerCont {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

/* btn-fav {
  background-color: #ff0063;
  color: rgb(255, 255, 255);
} */
footer {
  background: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
}
h2 {
  width: fit-content;
  border-bottom: 2px solid rgb(204, 5, 5);
}
.price {
  color: rgb(114, 114, 114);
}
/* .navbar-brand {
  transform: display 2s;
} */

.btn {
  border-radius: 20px;
}

.btnNav {
  font-size: 15px;
  border: 1px solid rgb(167 167 167);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(167 167 167);
  text-align: center;
  padding-top: 10px;
  margin: auto;
}

.btnNav:hover {
  font-size: 18px;
  box-shadow: 1px 1px 10px rgb(214, 26, 26);
  transition: font-size 1s, box-shadow 1s;
}
section {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 990px) {
  section {
    display: grid !important;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    justify-items: center;
    grid-template-columns: 30% 30% 30%;
  }
  .card {
    width: 80%;
  }
  body {
    font-size: 80%;
  }
  .card-head {
    font-size: 90%;
    margin: 5%;
  }
}

@media only screen and (max-width: 800px) {
  section {
    grid-template-columns: 50% 50%;
  }
  .card {
    width: 80%;
  }
  body {
    font-size: 80%;
  }
  .card-head {
    font-size: 90%;
    margin: 5%;
  }
}

@media only screen and (max-width: 500px) {
  section {
    grid-template-columns: 100%;
  }
  .card {
    width: 80%;
  }
  body {
    font-size: 80%;
  }
  .card-head {
    font-size: 90%;
    margin: 5%;
  }
}
